{
  "destinations": [
    {
      "name": "doc-ai-destination",
      "url": "<docai-service-url>",
      "authentication": "OAuth2ClientCredentials",
      "tokenServiceUrl": "<uaa-oauth-token-url>",
      "clientId": "<client-id>",
      "clientSecret": "<client-secret>"
    }
  ]
}
